@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World!</h1>
    <p class="lead">This is my ASP.NET MVC Webpage.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why did I create This?</h2>
        <p>
            This site was created to fulfill requirement D of out final project for Object Oriented Design II
        </p>
    </div>
    <div class="col-md-4">
        <h2>Is there More To The Site?</h2>
        <p>Absolutely Not. This is just scratching the surface of everything you can do web forms in visual studio</p>
    </div>
</div>